
@{
    ViewBag.Title = "Medicine";
    Layout = "~/Views/Shared/FrontView.cshtml";
}


<body>
    <!--================Header Menu Area =================-->
    
    <!--================Header Menu Area =================-->
    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Shop Category Page</h2>
                    <div class="page_link">
                        <a href="@Url.Action("Index","Front")">Home</a>
                        @foreach (var item in ViewBag.cname)
                        {
                            <a>@item.Name</a>
                        }
                        
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->
    <!--================Category Product Area =================-->
    <section class="cat_product_area section_gap">
        <div class="container-fluid">
            <div class="row flex-row-reverse">
                <div class="col-lg-9">
                    <div class="product_top_bar">
                        
                    </div>
                    <div class="latest_product_inner row">
                        @foreach (var medic in ViewBag.medicine)
                        {
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <div class="f_p_item">
                                    <div class="f_p_img">
                                        @foreach (var imgs in ViewBag.images)
                                        {
                                            if (imgs.Productid == medic.Id)
                                            {
                                                <img src="~/Content/Images/@imgs.Imagename" height="200" width="150">
                                            }

                                        }
                                     

                                        <div class="white_bg_btn">
                                     <a href="@Url.Action("ProductDetails", "Front",new { id=medic.Id})">
                                         <b style="color:black;">View</b>
                                                    </a> 
                                        </div>
                                                
                                    </div>
                                    <a href="/Client/#">
                                        <h4>@medic.SuppliedProduct.ProductName</h4>
                                    </a>
                                    <h5>Rs.@medic.Price</h5>
                                </div>
                                
                            </div>
                           
                        }
                        
                        
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="left_sidebar_area">
                        <aside class="left_widgets cat_widgets">
                            <div class="l_w_title">
                                <h3>Browse Categories</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                    @foreach (var cat in ViewBag.cat)
                                    {
                                        <li>
                                            <a href="@Url.Action("Product","Front",new { id=cat.Id})">@cat.Name</a>
                                        </li>
                                    }
                                    
                                    
                                </ul>
                            </div>
                        </aside>
                        @*<aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Product Filters</h3>
                            </div>
                            <div class="widgets_inner">
                                <h4>Types</h4>
                                <ul class="list">
                                   
                                  
                                        @foreach (var md in ViewBag.medictype)
                                        {
                                           
                                            <li>
                                                <a href="@Url.Action("Product", "Front", new { id = md.Id })">@md.Name</a>
                                            </li>   
                                    }

                                </ul>
                            </div>
                            <div class="widgets_inner">
                                <h4>Color</h4>
                                <ul class="list">
                                    <li>
                                        <a href="/Client/#">Black</a>
                                    </li>
                                    <li>
                                        <a href="/Client/#">Black Leather</a>
                                    </li>
                                    <li class="active">
                                        <a href="/Client/#">Black with red</a>
                                    </li>
                                    <li>
                                        <a href="/Client/#">Gold</a>
                                    </li>
                                    <li>
                                        <a href="/Client/#">Spacegrey</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="widgets_inner">
                                <h4>Price</h4>
                                <div class="range_item">
                                    <div id="slider-range"></div>
                                    <div class="row m0">
                                        <label for="amount">Price : </label>
                                        <input type="text" id="amount" readonly>
                                    </div>
                                </div>
                            </div>
                        </aside>*@
                    </div>
                </div>
            </div>
            @*<div class="row">
                <nav class="cat_page mx-auto" aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="/Client/#">
                                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="/Client/#">01</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="/Client/#">02</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="/Client/#">03</a>
                        </li>
                        <li class="page-item blank">
                            <a class="page-link" href="/Client/#">...</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="/Client/#">09</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="/Client/#">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>*@
        </div>
    </section>
    <!--================End Category Product Area =================-->
    <!--================ Subscription Area ================-->
    
    <!--================ End Subscription Area ================-->
    <!--================ start footer Area  =================-->
    
    <!--================ End footer Area  =================-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  </body>


