
@{
    ViewBag.Title = "Educations";
    Layout = "~/Views/Shared/FrontView.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <title>Fashiop</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="vendors/linericon/style.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="vendors/lightbox/simpleLightbox.css">
    <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="vendors/animate-css/animate.css">
    <!-- main css -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>
<body>
    <!--================Header Menu Area =================-->
    
    <!--================Header Menu Area =================-->
    <!--================Home Banner Area =================-->
    <section class="home_banner_area blog_banner">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="blog_b_text text-center">
                    <h2>
                        Dude You’re Getting
                        <br /> a Telescope
                    </h2>
                    <p>There is a moment in the life of any aspiring astronomer that it is time to buy that first</p>
                    <a class="white_bg_btn" href="#">View More</a>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->
    <!--================Blog Categorie Area =================-->
    <section class="blog_categorie_area">
        <div class="container">
            <div class="row">
                @{
                    var edutype = new ClinicManagement.Models.ClinicManagmentSystemEntities().EducationTypes.ToList();
                    foreach (var item in edutype)
                    {
                        <div class="col-lg-4">
                            <div class="categories_post">
                                <img src="/Client/img/blog/cat-post/cat-post-3.jpg" alt="post">
                                <div class="categories_details">
                                    <div class="categories_text">
                                        <a href="blog-details.html">
                                            <h5>@item.Name</h5>
                                        </a>
                                        <div class="border_line"></div>
                                        <p>Enjoy your social life together</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                
                
            </div>
        </div>
    </section>
    <!--================Blog Categorie Area =================-->
    <!--================Blog Area =================-->
    <section class="blog_area">
        <div class="container">
            <div class="row">
                @foreach (var edu in ViewBag.edu)
                {
                    
                    <div class="col-lg-6">
                        <article class="row blog_item">
                            <div class="blog_post">
                                @foreach (var imgs in ViewBag.images)
                                {
                                    if (imgs.Educationid == edu.Id)
                                    {
                                        <img src="~/Content/Images/@imgs.Imagename" alt="" height="320" width="550">
                                       
                                    }
                                  
                                }

                                <div class="blog_details">
                                    <a href="single-blog.html">
                                        <h2>@edu.Topic</h2>
                                    </a>
                                    <strong>
                                        @edu.Subject
                                    </strong>
                                    <br />
                                    <strong>
                                       FEES : @edu.Fees
                                    </strong>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <b style="color:black;">Teacher:</b> @edu.Teacher.Name
                                            <br />
                                            <b style="color:black;">Date:</b> @edu.Date
                                        </div>
                                        <div class="col-md-6">
                                            <b style="color:black;">Time:</b> @edu.Time
                                            <br />
                                            <b style="color:black;">Organizer:</b> @edu.Organizer.Name
                                        </div>
                                    </div>
                                    <br />
                                    <a href="@Url.Action("Index","Registrations",new {@edu.Id})" class="btn submit_btn">Register Now</a>
                                </div>
                            </div>


                        </article>


                    </div>
                }


            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
    <!--================ start footer Area  =================-->
    
    <!--================ End footer Area  =================-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/stellar.js"></script>
    <script src="vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="vendors/isotope/isotope-min.js"></script>
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="vendors/jquery-ui/jquery-ui.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="vendors/jquery-ui/jquery-ui.js"></script>
    <script src="js/theme.js"></script>
</body>
</html>
