@model IEnumerable<ClinicManagement.Models.Organizer>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="panel-body">
        <div class="alert alert-info">
            <p style="color:black;font-size:16px;">Organizers</p>
        </div>
    </div>
</div>

<p>
    <a href="@Url.Action("Create","Organizers")"><b class="btn btn-default">Create New</b></a>
</p>
<table class="table table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact)
        </td>
        <td>
            <a href="@Url.Action("Edit","Organizers",new {id=item.Id })"><i class="fa fa-edit fa-fw"></i></a> |
            <a href="@Url.Action("Details","Organizers",new {id=item.Id })"><i class="fa fa-file-text-o"></i></a> |
            <a href="@Url.Action("Delete","Organizers",new {id=item.Id })"><i class="fa fa-trash fa-fw"></i></a> 
        </td>
    </tr>
}

</table>
